@{
    ViewData["Title"] = "Gun of the Old West";
}

<div class="text-center">
    <h1 class="display-4">Guns of the Old West</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
