@{
    ViewData["Title"] = "WinnaarScherm";
}

<div class="text-center">
    <h1>Scherpshutter!</h1>
    <form method="post">
        <label class="form-label">Voornaam</label>
        <input type="text" class="form-control" required />

        <label class="form-label">Achternaam</label>
        <input type="text" class="form-control" required="" />

        <label class="form-label">Email adress</label>
        <input type="email" class="form-control" required="" />

        <label class="form-label">Telefoonnummer</label>
        <input type="tel" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" required />
        
        <button type="submit" class="button" asp-action="Samenvatting">Submit</button>
    </form>
</div>