@model PersonModel
@{
    ViewData["Title"] = "WinnaarScherm";
}

<div class="text-center">
    <h1>Scherpshutter!</h1>
    <form method="post">
        <label asp-for="Voornaam" class="form-label">Voornaam</label>
        <input asp-for="Voornaam" class="form-control" required type="text" />

        <label asp-for="Achternaam" class="form-label">Achternaam</label>
        <input asp-for="Achternaam" class="form-control" required type="text" />

        <label asp-for="EmailAdres" class="form-label">Emailadress</label>
        <input asp-for="EmailAdres" class="form-control" required type="email" />

        <label asp-for="TelefoonNummer" class="form-label">TelefoonNummer</label>
        <input asp-for="TelefoonNummer" required type="number" />
        
        <button type="submit" class="button">Submit</button>
    </form>
</div>